@model Gambling_Proj.Models.TblUser
<head>
    <style>

        .txt {
            background-color: transparent;
            color: #343053;
            font-size: medium;
            outline: none;
            outline-style: none;
            outline-offset: 0;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: solid #560505 2px;
            padding: 3px 7px;
        }
    </style>




</head>



<form asp-action="Create" method="post" asp-controller="TblUsers">

    <div asp-validation-summary="ModelOnly" class="text-danger">  </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label><br />
                <input asp-for="Username" class="txt" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label><br />
                <input asp-for="Password" class="txt" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">

                <label asp-for="RoleId" class="control-label"></label><br />
                <input asp-for="RoleId" class="txt" />

                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Lock" class="control-label"></label>&nbsp;

                <input type="checkbox" asp-for="Lock" height="200" width="200" style="margin-top:50px;">
                <span asp-validation-for="Lock" class="text-danger"></span>
            </div>
        </div>
    </div>
    <!--<div class="form-group">
        <label asp-for="CreatedBy" class="control-label"></label>
        <input asp-for="CreatedBy" class="form-control" />
        <span asp-validation-for="CreatedBy" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CreatedDate" class="control-label"></label>
        <input asp-for="CreatedDate" class="form-control" />
        <span asp-validation-for="CreatedDate" class="text-danger"></span>
    </div>-->
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="form-group">
                    <button type="submit" value="Create" class="btn btn-primary" style="background-color: #560505;"><i class="fas fa-save"></i>&nbsp;Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
