@model TblUser
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V2</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Favicon Icon-->
    <link rel="icon" type="image/png" href="~/favicon.ico" />
    <!--Main CSS-->
    <link rel="stylesheet" type="text/css" href="~/Login/css/main.css">
    <!--Icons-->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Bootstrap-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        body {
            background-image:url(' @Url.Content("~/Login/images/football.jpg")');
            background-color: aqua;
        }
        .img-user {
            border-radius: 50%;
            color: #653a34;
            background-color: #653a34;
        }
        .wrap-login100 {
            background-color: #653a34;
            opacity:0.8;

        }
        .closebtn {
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }
        .login100-form-btn {
            background-color: #560505 !important;
        }
       .ico{
           font-size:2rem;
           color:#FFFFFF !important;
       }
       .login-card{
           margin-top:100px;

       }
    </style>
</head>
<body>
    <div class="col-lg-4 col-md-7 col-sm-6 col-xs-12 login-card">
        <form id="login-form" class="col-lg-12" method="post" asp-action="LogIn" asp-controller="Home">
            <div class="col-lg-12 logo-kapsul">

                <img class="logo" src="~/Login/images/user.jpg" alt="Logo" />
            </div>@if (@TempData["Error"] != null)
            {
                <span class="d-inline-block p-2 bg-warning text-white" style="font-size:x-large;text-align:center;">@TempData["Error"]</span>}<br /><br /><br />
            <div style="clear:both;"></div>
            <div class="group">
                <input type="text" required asp-for="Username" autocomplete="off">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label><i class="material-icons input-ikon">person_outline</i><span class="span-input">UserName</span></label>
            </div>

            <div class="group">
                <input type="password" required asp-for="Password">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label><i class="material-icons input-sifre-ikon">lock</i><span class="span-input">Password</span></label>
            </div>

            <input type="submit" value="Submit" class="giris-yap-buton" style="width:100%;border-style:none;">

            <div class="forgot-and-create tab-menu">
                <a class="sifre-hatirlat-link">Forget Password ?</a>
             </div>
        </form>
    </div>
    <div id="dropDownSelect1"></div>
    @section Scripts{
        <!--Bootstrap Javascript-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <!--JQuery-->
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <!--===============================================================================================-->
        <!--Fontawesome-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    }
</body>
</html>
